.navbar {
  display: flex;
  padding: .5vh;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: rgb(197, 197, 197);
}

.navbar a {
  font-size: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.navbar a:hover {
  background-color: #585858;
  color: #fff;
}